@{
    ViewBag.Title = "view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    this is a comment
    on Multiple lines!
*@

<h2>Movie List (@Model.Count Movies)</h2>
<br />
@if (Model.Count <= 0)
{
    <div class="alert alert-danger" role="alert"><strong>Uh-oh! </strong>No Movies have been found in the database</div>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Movie Name</th>
            <th>Genre</th>
        </tr>
        @foreach (var Movie in Model)
        {
            <tr>
                <td>@Movie.Id</td>
                <td>@Html.ActionLink((string)Movie.Name, "details", "Movies", new { id = Movie.Id }, null)</td>
                <td>@Movie.Genre.Name</td>
            </tr>

        }

    </table>
}

