
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<br />
<ul>
    <li>Membership Type: <label class="label label-info">@Model.MembershipType.Name</label></li>
    @if (Model.DateofBirth.ToString("MM/dd/yyyy") != "01/01/1900")
    {
        <li>DOB: <label class="label label-primary">@Model.DateofBirth.ToString("MM/dd/yyyy")</label></li>
    }

</ul>

